services:
  web:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "yarn install && yarn dev"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
