.page {
  min-height: 100vh;
  background-color: black;
}

.title {
  font-size: 50px; //добавить адаптив
  text-align: center;
  color: blue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}