.card {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  gap: 5px;
  width: 300px;
}

.Активен {
  color: rgb(255, 29, 29);
  font-weight: bold;
}

.Нейтрализован {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.level {  
  color: red;
  font-weight: bold;
}

.Низкий { 
  color: green 
}
.Средний { 
  color: yellow
}
.Высокий { 
  color: red 
}
.Критический { 
  color: purple 
}

.image {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(57, 248, 239);
}

.button {
  padding: 10px;
  background-color: rgb(255, 69, 69);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 0, 0);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}